<!DOCTYPE html>
<html> 
	<head>
		<title>IPS</title>
		<link rel="stylesheet" type="text/css" href="style.css">
		<meta charset="UTF-8">
	</head>

	<body>
		<div id="everything">
			<header id="header">
				<h1>Indoor Positioning System using Bluetooth Low Enegry incase of Emergencies</h1>
                <h1>----------------------------------------------------------------------------------------------------------------------------------------</h1>
			</header>

			<section id="body">
				<br />
                <div id="photo">
					<img src= "../Media/layout.jpg" alt="old" width="600" height="800" />
				</div>

				<p class="para"> 
					*******User Information*******
                    Name:
                    Room:
                    RSSI:
                    IP Address: 
				</p> 

			</section>

			<footer id="footer">
					<br />
					<hr>
						<img id="logo" src= "../media/saftey.jpg" alt="logo" width="300" height="150" /> 

						<div id ="copyright">
							<br /> Created by Keith Fenech Melillo (M00644333)
						</div>
			</footer>
		</div>
	</body>
</html>